.carousel {
  width: 100%;
  max-width: 1800px;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin: 5% auto;
  border-radius: 0px;
}

.carousel-image {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  animation: fade 5s ease-out;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
