.footer {
  background-color: black;
  color: white;
  padding: 3rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
    width: 100vw;
}

.contact-btn {
  background-color: rgb(106, 106, 106);
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-btn:hover {
  background-color: #981010;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.social-icons a {
  color: white;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: red;
}

.copyright {
  font-size: 0.9rem;
  color: #888;
}
