* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
}

.navbar {
  width: 100%;
  height:60px;
  background-color: black;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-inner {
  width: 100%;
  max-width: 1200px;
  margin: auto auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  flex: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex: 2;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  flex: 1;
  align-items: flex-end;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: black;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-links.open {
    max-height: 300px;
    padding: 20px 0;
  }

  .hamburger {
    display: flex;
  }

  .nav-links li {
    margin: 0 0;
  }

  .navbar-inner {
    flex-direction: row;
    align-items: center;
  }
}
