.reviews-container {
  padding: 2rem;
  background: #000;
  padding-left: 10%;
  padding-right: 10%;
  color: #fff;
  text-align: center;
}

.reviews-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.masonry-grid {
  display: flex;
  margin-left: -1rem;
  width: auto;
}

.masonry-grid_column {
  padding-left: 1rem;
  background-clip: padding-box;
}

.review-card {
  background: #111;
  border-radius: 0px;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.review-text {
  font-size: 1rem;
  font-style: italic;
  color: #ddd;
}

.review-dropdown {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.review-dropdown.show {
  max-height: 500px; /* enough for expansion */
  opacity: 1;
  margin-top: 0.5rem;
}

.review-full {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 0.5rem;
}

.review-insta {
  display: inline-block;
  font-size: 0.85rem;
  color: #fff;
  text-decoration: underline;
}

.see-more-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  background: #ffffff;
  color: #000000;
  border-radius: 20px;
  text-decoration: none;
  width: 150px;
  transition: background 0.3s;
}

.see-more-btn:hover {
  background: #ddd;
}
